### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [152]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [153]:
player_counts = len(purchase_data["SN"].unique())
# player_counts_final = len(player_counts)
df_total_label=pd.DataFrame({'Total Player':[player_counts_final]})
df_total_label

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [154]:
unique_item= purchase_data["Item Name"].unique()
num_unique_item = len(unique_item)
num_unique_item

179

In [155]:
price= purchase_data["Price"]
avg_price=round(price.mean(),2)
avg_price

3.05

In [156]:
purchases=purchase_data["Purchase ID"]
num_purchases= len(purchases)
num_purchases

780

In [157]:
sum_price = round(sum(price),2)
sum_price

2379.77

In [158]:
df_purchase_analysis=pd.DataFrame({"Number of Unique Items":[num_unique_item],"Average Price":[avg_price],"Number of Purchases":[num_purchases],"Total Revenue":[sum_price]})
df_purchase_analysis["Average Price"] = df_purchase_analysis["Average Price"].map("${:.2f}".format)
df_purchase_analysis["Total Revenue"] = df_purchase_analysis["Total Revenue"].map("${:,.2f}".format)
df_purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

In [159]:
#Gender Demographics
player_individual=purchase_data.drop_duplicates("SN",keep="first",inplace=False)
player_males = len(player_individual.loc[player_gender["Gender"]=="Male",:])
player_females= len(player_individual.loc[player_gender["Gender"]=="Female",:])
player_others = len(player_individual.loc[player_gender["Gender"]=="Other / Non-Disclosed",:])
player_males_pct=round((player_males/(player_males+player_females+player_others))*100,2)
player_females_pct=round((player_females/(player_males+player_females+player_others))*100,2)
player_others_pct=round((player_others/(player_males+player_females+player_others))*100,2)
num_player_gender = pd.DataFrame({'Total Count':[player_males, player_females,player_others],
                                  "Percentage Players":[player_males_pct, player_females_pct, player_others_pct]}, 
                                  index = ["Male","Female","Other / Non-Disclosed"])

num_player_gender

                       Total Count  Percentage Players
Male                           484               84.03
Female                          81               14.06
Other / Non-Disclosed           11                1.91

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [172]:
#Purchasing Analysis (Gender)
grouped_gender_purchase_data=purchase_data.groupby(purchase_data["Gender"])["Purchase ID"].count()
grouped_avg_price=purchase_data.groupby(purchase_data["Gender"])["Price"].mean()
grouped_total_value=purchase_data.groupby(purchase_data['Gender'])["Price"].sum()
avg_per_pax=round(grouped_total_value/num_player_gender["Total Count"],2)
purchase_data_analysis= pd.DataFrame({"Purchase Count":grouped_gender_purchase_data,
                                     "Average Purchase Price":grouped_avg_price,
                                     "Total Purchase Value":grouped_total_value,
                                     "Avg Total Purchase per Person":avg_per_pax},
                                    index = ["Female","Male","Other / Non-Disclosed"])
purchase_data_analysis["Average Purchase Price"]=purchase_data_analysis["Average Purchase Price"].map("${:,.2f}".format)
purchase_data_analysis["Total Purchase Value"]=purchase_data_analysis["Total Purchase Value"].map("${:,.2f}".format)
purchase_data_analysis["Avg Total Purchase per Person"]=purchase_data_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)

purchase_data_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [162]:
#Age Demographics
bins=[0,9,14,19,24,29,34,39,150]
group_names=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
player_individual['Age Group']=pd.cut(player_individual['Age'],bins,labels=group_names)
df_total_count=player_individual.groupby("Age Group")["Purchase ID"].count().reset_index()
df_age_stats=df_total_count.rename(columns={"Purchase ID":'Total Count'})
df_age_stats=df_total_count.rename(columns={'Purchase ID':'Total Count'})
player_pct=round(df_age_stats["Total Count"]/player_counts*100,2)
df_age_stats['Percentage of Players']=player_pct
df_age_stats_reset=df_age_stats.set_index("Age Group")
df_age_stats_reset

C:\Users\Owner\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [166]:
### Purchasing Analysis (Age)
purchase_data['Age Group']=pd.cut(purchase_data['Age'],bins,labels=group_names)
df_total_count2=purchase_data.groupby('Age Group')['Purchase ID'].count().reset_index()
df_age_purchase=df_total_count2.rename(columns={'Purchase ID':'Purchase Count'})
avg_purchase_price=round(purchase_data.groupby('Age Group')['Price'].mean().reset_index(),2)
total_purchase_value=round(purchase_data.groupby('Age Group')['Price'].sum().reset_index(),2)
df_age_purchase_fin=pd.merge(df_age_purchase,avg_purchase_price,
                            on="Age Group")
df_age_purchase_fina=pd.merge(df_age_purchase_fin,total_purchase_value,
                             on="Age Group")
df_age_purchase_final=df_age_purchase_fina.rename(columns={'Price_x':'Average Purchase Price',
                                                         'Price_y':'Total Purchase Value'})
df_age_purchase_final_reset=df_age_purchase_final.set_index("Age Group")
df_age_purchase_final_reset['Total Purchase Value']
ave_totals=round(df_age_purchase_final_reset['Total Purchase Value']/df_age_stats_reset['Total Count'],2)
df_age_purchase_final_reset['Avg Total Purchase per Person']=ave_totals
df_age_purchase_final_reset['Average Purchase Price']=df_age_purchase_final_reset['Average Purchase Price'].map('${:.2f}'.format)
df_age_purchase_final_reset['Total Purchase Value']=df_age_purchase_final_reset['Total Purchase Value'].map('${:.2f}'.format)
df_age_purchase_final_reset['Avg Total Purchase per Person']=df_age_purchase_final_reset['Avg Total Purchase per Person'].map('${:.2f}'.format)
df_age_purchase_final_reset

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [167]:
### Top Spenders
purchase_data['Total Purchase Value'] = purchase_data.groupby(['SN'])['Price'].transform('sum')
purchase_data['Purchase Count']=purchase_data.groupby(['SN'])['Purchase ID'].transform('count')
purchase_data['Average Purchase Price']=round(purchase_data['Total Purchase Value']/purchase_data['Purchase Count'],2)
df_top_spender = purchase_data.drop_duplicates(subset=['SN'])
df_top_spender_sort=df_top_spender.sort_values('Total Purchase Value',ascending=False).head()
df_top_spender_fin=df_top_spender_sort[['SN','Purchase Count',
                                         'Average Purchase Price',
                                         'Total Purchase Value',]]
df_top_spender_finale=df_top_spender_fin.set_index('SN')
df_top_spender_finale['Average Purchase Price']=df_top_spender_finale['Average Purchase Price'].map('${:.2f}'.format)
df_top_spender_finale['Total Purchase Value']=df_top_spender_finale['Total Purchase Value'].map('${:.2f}'.format)
df_top_spender_finale

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [168]:
### Most Popular Items
purchase_data['Purchase Count Items'] = purchase_data.groupby(['Item Name'])['Item ID'].transform('count')
purchase_data['Total Value Items']=round(purchase_data['Purchase Count Items']*purchase_data['Price'],2)
df_top_items = purchase_data.drop_duplicates(subset=['Item Name'])
df_top_items_sort=df_top_items.sort_values('Purchase Count Items',ascending=False).head()
df_top_items_fin=df_top_items_sort[['Item ID','Item Name','Purchase Count Items',
                                   'Price','Total Value Items']]
df_top_items_fina=df_top_items_fin.set_index(['Item ID','Item Name'])
df_top_items_finale=df_top_items_fina.rename(columns={'Purchase Count Items':'Purchase Count',
                                                    'Price':'Item Price',
                                                    'Total Value Items':'Total Purchase Value'})
df_top_items_finale['Item Price']=df_top_items_finale['Item Price'].map('${:.2f}'.format)
df_top_items_finale['Total Purchase Value']=df_top_items_finale['Total Purchase Value'].map('${:.2f}'.format)
df_top_items_finale

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.88,$63.44
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [169]:
### Most Profitable Items
df_top_value_sort=df_top_items.sort_values('Total Value Items',ascending=False).head()
df_top_value_fin=df_top_value_sort[['Item ID','Item Name','Purchase Count Items',
                                   'Price','Total Value Items']]
df_top_value_fina=df_top_value_fin.set_index(['Item ID','Item Name'])
df_top_value_finale=df_top_value_fina.rename(columns={'Purchase Count Items':'Purchase Count',
                                                    'Price':'Item Price',
                                                    'Total Value Items':'Total Purchase Value'})
df_top_value_finale['Item Price']=df_top_value_finale['Item Price'].map('${:.2f}'.format)
df_top_value_finale['Total Purchase Value']=df_top_value_finale['Total Purchase Value'].map('${:.2f}'.format)
df_top_value_finale

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.88,$63.44
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80